[submodule "E-COMMERCE-TRADING-PLATFORM-BACKEND"]
	path = E-COMMERCE-TRADING-PLATFORM-BACKEND
	url = https://github.com/hung179/E-COMMERCE-TRADING-PLATFORM-BACKEND.git
[submodule "E-COMMERCE-TRADING-PLATFORM-CUSTOMER-FRONTEND"]
	path = E-COMMERCE-TRADING-PLATFORM-CUSTOMER-FRONTEND
	url = https://github.com/hung179/E-COMMERCE-TRADING-PLATFORM-CUSTOMER-FRONTEND.git
[submodule "E-COMMERCE-TRADING-PLATFORM-ADMIN-FRONTEND"]
	path = E-COMMERCE-TRADING-PLATFORM-ADMIN-FRONTEND
	url = https://github.com/hung179/E-COMMERCE-TRADING-PLATFORM-ADMIN-FRONTEND.git
