[submodule "CT553-BACKEND"]
	path = CT553-BACKEND
	url = https://github.com/hung179/CT553-BACKEND.git
[submodule "CT553-CUSTOMER-FRONTEND"]
	path = CT553-CUSTOMER-FRONTEND
	url = https://github.com/hung179/CT553-CUSTOMER-FRONTEND.git
[submodule "CT553-ADMIN-FRONTEND"]
	path = CT553-ADMIN-FRONTEND
	url = https://github.com/hung179/CT553-ADMIN-FRONTEND.git
